<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="m-5 text-center title fw-light"><%= t'.title' %></h1>
    <table class="table table-hover">
        <tr>
          <th><%= Quiz.human_attribute_name(:name) %></th>
          <td><%= @quiz.name %></td>
        </tr>
        <tr>
          <th><%= Quiz.human_attribute_name(:question) %></th>
          <td><%= @quiz.question %></td>
        </tr>
        <tr>
          <th><%= Quiz.human_attribute_name(:answer) %></th>
          <td><%= @quiz.answer %></td>
        </tr>
        <tr>
          <th><%= Quiz.human_attribute_name(:description) %></th>
          <% if @quiz.description.present? %>
            <td><%= @quiz.description %></td>
          <% else %>
            <td><%= '解説はありません' %></td>
          <% end %>
        </tr>
    </table></br>
    <div class="photo-wrapper"> 
        <% if @quiz.answer_image.present? %>
          <td><%= image_tag @quiz.answer_image.url, class: "photo", style: "max-width: 100%; height: auto;" %></td>
        <% else %>
          <td><%= '画像はありません' %></td>
        <% end %>
        </tr>
    </table></br>
  </div></br>
  
  <div>
    <%= link_to '問題に戻る', quiz_path(@quiz), class: 'btn btn-outline-primary' %></br></br>
    <%= link_to '一覧に戻る', quizzes_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>