<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light backgrount-image">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal title">D PhotoMap</h1>
      <p class="lead fw-normal">パークで撮った写真を</br>マップにピン留め</br>しよう！</p>
      <%= link_to 'ログイン', login_path, class:"btn btn-primary btnx-pink" %>
      <%= link_to 'サインアップ', new_user_path, class:"btn btn-success" %>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag 'key.jpg', :size => '700*500', class: 'd-block mx-lg-auto img-fluid', loading:'lazy' %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 title">D PhotoMapとは</h1>
        <p class="lead">ディズニーに行くとたくさん写真を撮りたくなりますよね🎵</br>
        撮影した写真を帰ってから見返していて、こんな経験はありませんか？</br>「この写真撮った場所どこだっけ？」</br>そんなお困りごとをこのアプリが解決します！</p>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag 'catsle.jpg', :size => '700*500', class: 'd-block mx-lg-auto img-fluid', loading:'lazy' %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 title">マップに写真をピン留めしよう</h1>
        <p class="lead">撮った写真をアルバムに保存する時に、マップにピン留めをすることができます。</br>後日アルバムで写真を見返す時、撮影場所がすぐわかります。隠れミッキーの場所も全て覚えられるかも🎵</p>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag 'mic.jpg', :size => '700*500', class: 'd-block mx-lg-auto img-fluid', loading:'lazy' %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 title">アルバム機能</h1>
        <p class="lead">撮影した写真をアルバムに保存し、好きな時に見返すことができます！</br>投稿する時に入力した「日にち」「パーク」「エリア」で検索をし、見たい写真の絞り込みができます🎵</p>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag 'diary.jpg', :size => '700*500', class: 'd-block mx-lg-auto img-fluid', loading:'lazy' %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 title">日記機能</h1>
        <p class="lead">その日パークで体験したことを日記に綴ることができます！</br>投稿した日記は、タグを設定することで絞り込みができます！</p>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag 'lottely.jpg', :size => '700*500', class: 'd-block mx-lg-auto img-fluid', loading:'lazy' %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 title">抽選結果機能</h1>
        <p class="lead">ディズニーといえば抽選が付きものです！</br>抽選結果を記録し、一覧で見返すことができます！</br>抽選結果からあなたの当選確率を表示します🎵</br>当選しやすい曜日や時間帯を分析してみよう！</p>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <h6 class="m-5 text-center text-body-emphasis lh-1">※本アプリ内で使用している写真は</br>開発者が撮影したものです。</h6>
</div>