<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  <div id="diary-id-<%= diary.id %>">
    <div class="border rounded overflow-hidden shadow-sm h-100">
      <div class="p-3">
        <h3 class="mb-0"><%= diary.title %></h3>
        <div class="mb-1 text-body-secondary"><%= diary.day %></div>
        <p class="card-text mb-auto"><%= diary.body %></p>
      </div>
      <div class="px-3 pt-3 pb-2 d-flex justify-content-between">
        <div class="btn-group">
          <% diary.tags.each do |tag| %>
            <%= link_to tag.name, tag_diaries_path(tag_id: tag.id), class: "badge text-bg-warning rounded-pill" %>
          <% end %>
        </div>
      </div>
      <div class="px-3 pb-3 d-flex justify-content-end">
        <%= link_to '編集', edit_diary_path(diary), class: 'btn btn-success mr-3' %>
          <%= link_to '削除', diary_path(diary), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>