<%= form_with model: diary, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :day %>
      <%= f.date_field :day, class: 'form-control', type: 'date' %>
    </div></br>
  
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div></br>
  
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div></br>

    <div class="form-group">
      <%= f.label :'タグ' %>
      <%= f.text_field :tag, value: @tag_list, class: 'form-control', placeholder: "、で区切って入力してください" %>
    </div></br>
  
    <div class="actions">
        <%= f.submit '投稿', class: 'btn btn-info rounded-pill px-3' %>
        <%= link_to "一覧に戻る", diaries_path, class: 'btn btn-outline-secondary d-inline-flex align-items-center' %>
    </div>
<% end %>