<% content_for(:title, t('.title')) %>
<div class="container">
  <h1 class="m-5"><%= t'.title' %></h1>
  <div>
    <%= link_to t('.new'), new_diary_path, class: 'btn btn-primary' %>
  </div></br>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= Diary.human_attribute_name(:day) %></th>
        <th><%= Diary.human_attribute_name(:title) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @diaries.present? %>
        <% @diaries.each do |diary| %>
          <tr>
            <td><%= diary.day %></td>
            <td><%= link_to diary.title, diary_path(diary) %> </td>
            <td>
              <%= link_to '編集', edit_diary_path(diary), class: 'btn btn-success mr-3' %>
              <%= link_to '削除', diary_path(diary), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p><%= '日記がありません' %></p>
      <% end %>
    </tbody>
  </table>
</div>


