<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="m-5"><%= t'.title' %></h1>
            <table class="table table-hover">
                <tr>
                    <th><%= Diary.human_attribute_name(:day) %></th>
                    <td><%= @diary.day %></td>
                </tr>
                <tr>
                    <th><%= Diary.human_attribute_name(:title) %></th>
                    <td><%= @diary.title %></td>
                </tr>
                <tr>
                    <th><%= Diary.human_attribute_name(:body) %></th>
                    <td><%= @diary.body %></td>
                </tr>
            </table>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <%= link_to "編集", edit_diary_path(@diary), class: 'btn btn-success mr-3' %>
                <%= link_to "削除", diary_path(@diary), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
                <%= link_to "一覧に戻る", diaries_path, class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>

         
