<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <div class="header-logo">
          <h2>D PhotoMap</h2>
        </div>
        <li class="nav-item">
          <%= link_to 'アルバム', photos_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to '日記', diaries_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to '抽選結果', lottelies_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', profile_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>