<% content_for(:title, t('.title')) %>
<div class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"><%= t'.title' %></h1></br>
                <p class="lead text-body-secondary">当選しやすい曜日や時間帯を分析しよう</p>
            </div>
            <div>
                <%= render 'search', url: lottelies_path %>
            </div>
            <div>
                <%= link_to '投稿', new_lottely_path, class: 'btn btn-info rounded-pill px-3 btn-sm' %>
            </div>
        </div>
    </section>
    <% 
       user_lottelies = current_user.lottelies
       election = user_lottelies.where(result: "当選").count
       all_lottelies = user_lottelies.where.not(result: nil).count
       winning_rate = all_lottelies > 0 ? election.to_f / all_lottelies * 100 : 0
    %>
    <h3 class="fw-bold mb-0 fs-4">あなたの当選確率：<%= '%.2f' % winning_rate %>%</h3></br>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr>
                    <th><%= Lottely.human_attribute_name(:day) %></th>
                    <th><%= Lottely.human_attribute_name(:day_of_week) %></th>
                    <th><%= Lottely.human_attribute_name(:facility) %></th>
                    <th><%= Lottely.human_attribute_name(:time) %></th>
                    <th><%= Lottely.human_attribute_name(:start_time) %></th>
                    <th><%= Lottely.human_attribute_name(:result) %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @lottelies.each do |lottely| %>
                    <tr>
                        <td><%= lottely.day %></td>
                        <td><%= lottely.day_of_week %></td>
                        <td><%= lottely.facility %></td>
                        <td><%= lottely.time.strftime('%H:%M') %></td>
                        <td><%= lottely.start_time.strftime('%H:%M') %></td>
                        <td><%= lottely.result %></td>
                        <td>
                            <%= link_to '編集', edit_lottely_path(lottely), class: 'btn btn-success mr-3' %>
                            <%= link_to '削除', lottely_path(lottely), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
