<%= form_with model: @photo, local: true do |f| %>  
    <div class="form-group">
        <%= f.label :day %>
        <%= f.date_field :date, class: 'form-control', type: 'date' %>
    </div></br>
    <div class="form-group">
        <%= f.label :park %>
        <%= f.text_field :park, class: 'form-control' %>
    </div></br>
    <div class="form-group">
        <%= f.label :area %>
        <%= f.text_field :area, class: 'form-control'%>
    </div></br>
    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>
    </div></br>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>
    </div></br>
    
    <div class="form-group">
        <%= f.hidden_field :latitude, id: :photo_latitude %>
        <%= f.hidden_field :longitude, id: :photo_longitude %>
    </div></br>

    <select id="park-select"> 
        <option value="land">東京ディズニーランド</option>
        <option value="sea">東京ディズニーシー</option>
    </select>

    <div id="map" style="height: 500px; width: 800px;"></div></br>

    <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&callback=initMap"></script>


