<div class="col-sm-12 col-lg-3 mb-3">
  <div id="photo-id-<%= photo.id %>">
    <div class="card">
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.image.url, class: 'card-img-top', size: '500x500' %>
      <% end %>
      <div class="card-body text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'calendar-alt' %>
            <%= l photo.day, format: :long %>
          </li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
            <% if photo.park == "ディズニーランド" %>
              <%= icon 'fab', 'fort-awesome' %>
            <% elsif photo.park == "ディズニーシー" %>
              <%= icon 'fas', 'mountain' %>
            <% end %>
            <%= photo.park %>
          </li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'fas', 'map-marker-alt' %>
            <%= photo.area %>
          </li>
        </ul>
        <div class='btn-group'>
          <%= link_to photo_path(photo), id: "button-show-#{photo.id}" do %> 
            <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
          <% end %>
          <%= link_to edit_photo_path(photo), id: "button-edit-#{photo.id}" do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
          <% end %>
          <%= link_to photo_path(photo), id: "button-delete-#{photo.id}", method: :delete, data: { confirm: t('.confirm') } do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">削除</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>