<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1><%= t'.title' %></h1>
            <%= form_with model: @post do |f| %>  
                <div class="form-group">
                    <%= f.label :day %>
                    <%= f.text_field :day, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :park %>
                    <%= f.select :park, ["東京ディズニーランド", "東京ディズニーシー"], class: 'form-control', id: 'park-select' %>
                </div>
                <div class="form-group">
                    <%= f.label :area %>
                    <%= f.select :area, class: 'form-control', id: 'area-select' %>
                </div>
                <div class="form-group">
                    <%= f.label :body %>
                    <%= f.text_field :body, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.text_field :iamge, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :iamge, class: 'form-control mb-3', accept: 'image/*' %>
                    <%= f.hidden_field :image_cache %>
                </div>
                

                <div class="actions">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
