<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <form>
    <h1 class="m-5"><%= t'.title' %></h1>
    <%= render 'search', url: photos_path %>
  </form>
  <div>
    <%= link_to t('.new'), new_photo_path, class: 'btn btn-primary' %>
  </div></br>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @photos.present? %>
          <%= render @photos %>
        <% else %>
          <p><%= 'ここに写真が掲載されます' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
