<% content_for(:title, t('.title')) %>
<div class="album">
  <section class="py-5 text-center container">
    <div class="serch-photo">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><%= t'.title' %></h1></br>
          <p class="lead text-body-secondary">日にち、パーク、エリア、メモを部分一致で検索します</p>
        </div>
        <div>
          <%= render 'search', url: photos_path %>
        </div>
        <div>
          <%= link_to '作成', new_photo_path, class: 'btn btn-info rounded-pill px-3' %>
        </div>
      </div>
    </div>
  </section>

  <div class="container pt-3">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @photos.present? %>
            <%= render @photos %>
          <% else %>
            <p><%= 'ここに写真が掲載されます' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
