<% content_for(:title, t('.title')) %>
<div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="m-5"><%= t'.title' %></h1>
                <table class="table table-hover">
                <tr>
                    <th><%= Photo.human_attribute_name(:day) %></th>
                    <td><%= @photo.day %></td>
                </tr>
                <tr>
                    <th><%= Photo.human_attribute_name(:park) %></th>
                    <td><%= @photo.park %></td>
                </tr>
                <tr>
                    <th><%= Photo.human_attribute_name(:area) %></th>
                    <td><%= @photo.area %></td>
                </tr>
                <tr>
                    <th><%= Photo.human_attribute_name(:body) %></th>
                    <td><%= @photo.body %></td>
                </tr>
            </table></br>
            <div class="photo-wrapper"> 
                <% image = MiniMagick::Image.open(@photo.image.path) %>
                <%= image_tag @photo.image.url, class: "photo", height: (image.height.to_f / image.width.to_f * 500).round %>
            </div></br>
            <table class="table table-hover">
                <tr>
                  <th>撮影場所</th>
                </tr>
            </table>

            <div id="map"></div></br>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <%= link_to "編集", edit_photo_path(@photo), class: 'btn btn-success' %>
                    <%= link_to "削除", photo_path(@photo), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
                    <%= link_to "一覧に戻る", photos_path, class: 'btn btn-outline-secondary d-inline-flex align-items-center' %>
                </div>
            </div>
        </div>
    </div>
</div>
  
<script>
  function initMap() {
    let latitude = <%= @photo.latitude %>;
    let longitude = <%= @photo.longitude %>;
    let location = {lat: latitude, lng: longitude};
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: location,
      heading: 180,
      mapTypeId: 'satellite',
      restriction: {
        latLngBounds: {
          north: 35.63893756980336,
          south: 35.62193630211798,
          west: 139.8745356094571,
          east: 139.89240645368025
        },
      strictBounds: true
     }
    });

    marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&callback=initMap"></script>

             
          
  