<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="m-5 text-center"><%= t'.title' %></h1>
      <%= form_with model: @expense, url: '/expenses', method: :post, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :day, class: 'col-sm-2 col-form-label' %>
          <div class="input-group">
            <%= f.date_field :day, class: 'form-control', value: @expense.day %>
          </div>
            
          <%= f.label :total, class: 'col-sm-2 col-form-label' %>
          <div class="input-group">
            <%= f.text_field :total, placeholder: '総支出', class: 'form-control', value: @expense.total %>
            <span class="input-group-text">円</span>
          </div>
        </div></br></br>

        <%= f.fields_for :expense_items do |i| %>
          <%= render 'expense_item_fields', f: i %>
        <% end %></br>
      <% end %>
    </div>
  </div>
</div>

